<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helloworld.com.taquangtu132gmail.taquangtu.kmapwithintent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/background"
        android:label="4 variables KMap"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="helloworld.com.taquangtu132gmail.taquangtu.kmapwithintent.loginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="helloworld.com.taquangtu132gmail.taquangtu.kmapwithintent.KmapActivity" />
        <activity
            android:name="helloworld.com.taquangtu132gmail.taquangtu.kmapwithintent.ReadMeActivity"
            android:label="@string/title_activity_read_me"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>